<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <display-name>Archetype Created Web Application</display-name>
 
 	<servlet>
 		<servlet-name>elevator</servlet-name>
 		<servlet-class>com.mcamier.apps.elevator.ElevatorServlet</servlet-class>
 		
 		<init-param>
 			<param-name>auteur</param-name>
 			<param-value>mcamier</param-value>
 		</init-param>
 		
 		<load-on-startup>1</load-on-startup>
 	</servlet>
 	
 	<servlet-mapping>
 		<servlet-name>elevator</servlet-name>
 		<url-pattern>/reset</url-pattern>
 	</servlet-mapping>
 	
 	<servlet-mapping>
 		<servlet-name>elevator</servlet-name>
 		<url-pattern>/call</url-pattern>
 	</servlet-mapping>
 	
 	<servlet-mapping>
 		<servlet-name>elevator</servlet-name>
 		<url-pattern>/go</url-pattern>
 	</servlet-mapping>
 	
 	<servlet-mapping>
 		<servlet-name>elevator</servlet-name>
 		<url-pattern>/userHasEntered</url-pattern>
 	</servlet-mapping>
 	
 	<servlet-mapping>
 		<servlet-name>elevator</servlet-name>
 		<url-pattern>/userHasExited</url-pattern>
 	</servlet-mapping>
 	
 	<servlet-mapping>
 		<servlet-name>elevator</servlet-name>
 		<url-pattern>/nextCommand</url-pattern>
 	</servlet-mapping>
</web-app>